.navigation{
    position: fixed;
    top: 9%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    // &__bg{
 
    // }

    @include respond(tab-port){
       
        &__checkbox{display: none;}

        &__button{
            position: absolute;
            top: -7rem;
            right: 3rem;
        }

        &__icon{
            position: relative;
            top: 2rem;
            margin-left: 3rem;
            &,
            &::after,
            &::before{
                width: 4rem;
                height: 1.6px;
                background-color:$Dark-Blue;
                display: inline-block;
            }

            &::before,
            &::after{
                content:"";
                position: absolute;
                left: 0;
                transition: all .2s;
            }
    
            &::before{ top: -.8rem; }
            &::after{ top: .8rem; }
        }

    
        &__background{
            opacity: 0;
            visibility: hidden;
            overflow: hidden;
            background-color:$White;
            position: absolute;
            top: 2%;
            left: 50%;
            transform: translateX(-50%);
            width: 90%;
            height: 0;
            padding: 2rem 0 ;
            border-radius:5px;
            box-shadow: 0 1rem 2rem rgba(black,.2);
            text-align: center;
            transition: all 1s;
            display: inline-block;

        }
    
        &__nav{

            &__list{
                position: relative;
                top: 0;
                right: 5%;
                list-style: none;
                font-weight: 700;
                font-size: 1.6rem;
            }
    
            &__item{
                text-align: center;
                margin-left: 5rem;
                &:not(:last-child){
                    margin-bottom: 1.5rem;
                }
            }
    
            &__link{
                &:visited,
                &:link{
                    color: $Dark-Blue;
                    text-decoration: none;
                }
            }
        }
    }


      //Functionality
    //   &__checkbox:checked ~&__bg{
    //       opacity: 1;
    //   }

    &__checkbox:checked ~ &__background{
        opacity: 1;
        visibility: visible;
        height: auto;

    }

    &__checkbox:checked ~ &__button &__icon{
        background-color:transparent;
    }
    &__checkbox:checked ~ &__button &__icon::after{
        top:0;
        transform: rotate(135deg);
    }
    &__checkbox:checked ~ &__button &__icon::before{
        top:0;
        transform: rotate(-135deg);
    }
}
