.about-box{
    text-align: center;


    &__heading{
        text-align: left;
        margin-bottom: 1.5rem;

        @include respond(tab-port){
            text-align:center ;
        }

    }
    &__text{
        text-align: left;
        color: $Grayish-Blue;
        font-size: 1.3rem;
        font-weight:400;
        line-height: 2rem;
        @include respond(tab-port){
            text-align: center;
        }
    }


    &__icon{
        position: relative;
        top: 0;
        left: -9rem;
        margin-bottom: 3rem;
        
        @include respond(tab-port){
            left: 0;
            text-align:center ;
        }
    }
}