.u-center-text{text-align: center ;}

.u-margin-bottom-small{margin-bottom: 1.5rem;}
.u-margin-bottom-medium{margin-bottom: 4rem;}
.u-margin-bottom-big{margin-bottom: 8rem ;}


.u-margin-left-medium{margin-left: 8rem;}
.u-margin-left-big{margin-left: 18rem;}

// .u-padding-top-and-left-medium{
//     padding-top: 10rem;
//     padding-left: 15rem;
// }