.section-home{
    width: 100%;
    text-align: left;
    background-color: $Very-Light-Gray;
    position: relative;
    overflow: hidden;


    @include respond(tab-land){
        padding: 5rem;
    }
  
    &__left-side{
       position:relative;
       top: 20rem;
       left: 18rem;
        width: 75%;

        @include respond(tab-land){
            top: 15rem;
            left: 0;
            width: 90%;
        }
    }

    &__bg{
        position: relative;
        top: -19rem;
        right:-4rem ;
        background-image: url('../img/bg-intro-desktop.svg');
        width: 75rem;
        height: 80rem;
        z-index: 10;

        @include respond(tab-land){
            top: -25rem;
           right: 10rem ;
           height: 90rem;
        }


    }

    &__img{
        position: absolute;
        top:17em;
        right: -5rem;
        max-height: 100%;
        max-width: 100%;

        @include respond(tab-land){
            right: -10rem;
            max-height: 90%;
            max-width: 90%;
        }

    }



    @include respond(tab-port){
        padding: 50rem 0;
        
        &__left-side{
            text-align: center;
            position: relative;
            top: 50rem;
            width: 100%;
            padding-bottom: 10rem;
            
        }

        &__bg{
            position: absolute;
            top: 0;
            left: 0;
            background-image: url('../img/bg-intro-mobile.svg');
            background-size: cover;
            width:100vw;
            height:100vh;
            margin-bottom: 10rem;


        }
    
        &__img{
          @include center;
            top:40rem;
            max-height: 100%;
            max-width: 100%;
    
        }
    }

    @include respond(phone){
        // padding: 30rem 0; 
        width: 100%;
        text-align: center;

        &__left-side{
            position: absolute;
            width: 90%;
            margin-top: 5rem;
            top: 60rem;
            left: 2rem;
        }
        &__bg{
            position: absolute;
            top: -10rem;
            left: 0;
            width: 75rem;
            height: 80rem;

        }
        &__img{
            position: absolute;
            max-width: 100%;
            max-height: 100%;
            top: 20rem;
            left: 10;
        }
    }

}

.section-about{
    position: relative;
    top: -19rem;
    margin-bottom: -19rem;
    width: 100%;
    padding: 10rem 18rem 20rem 18rem ;
    background-color:$Light-Grayish-Blue;
    z-index: 3;


    &__text{
        width: 50%;
    }

    @include respond(tab-land){
        top: -30rem;
        margin-bottom: -30rem;
    }

    @include respond(tab-port){
            top:0;
            width: 100%;
            padding: 10rem;

            &__text{
                text-align: center;
                width: 100%;
            }
    }
}

.section-articall{
    margin: 0 auto;
    position: relative;
    background-color: $Very-Light-Gray;
    width: 100%;
    padding: 10rem 18rem 20rem 18rem ;


    @include respond(tab-port){
        padding: 30rem 0;
        width: 100%;
        &__text{
            text-align: center;
        }
    }
}

