.section-home{
    width: 100%;
    text-align: left;
    background-color: $Very-Light-Gray;
    position: relative;
    overflow: hidden;


    &__bg{
        position: relative;
        top: -28rem;
        right: -3rem;
        background-image: url('../img/bg-intro-desktop.svg');
        height: 100vh;
        width: 70rem;
        z-index: 10;
    }

    &__img{
        position: absolute;
        top:17.5em;
        right: -11.5rem;
        max-height: 100%;
        max-width: 100%;

    }

}

.section-about{
    position: relative;
    top: -27.7rem;
    margin-bottom: -27.7rem;
    width: 100%;
    padding: 10rem 18rem 20rem 18rem ;
    background-color:$Light-Grayish-Blue;
    z-index: 3;

    &__paragraph{
        width: 42%;
    }
}

.section-articall{
    margin: 0 auto;
    position: relative;
    background-color: $Very-Light-Gray;
    width: 100%;
    padding: 10rem 18rem 20rem 18rem ;
}

